*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;

}
body{
    justify-content: space-between;
    position: relative;
}

.container{
    width: 300px;
    margin-top: 10%;
    height: 400px;
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    color: white;
    position: relative;
    border-radius: 3px;
    scroll-behavior: smooth;
}

.title{
    width: 100%;
    display: flex;
}

h1{
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
    position: fixed;
    width: 280px;
}

h2{
    width: 100%;
    text-align: center;
}

.containerdisplayduplo{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

table{
    width: 100%;
    margin-bottom: 15px;
}

td{
    padding: 10px 0;
}

thead{
    width: 100%;
    background-color: rgb(77, 77, 77);
}

th{
    border-radius: 3px;
}

.adicionados{
    margin: 0 10px;
    width: 250px;
    border-right: solid 1px;
    max-height: 250px;
    overflow-y: auto;
}

#novoscontatos{
    width: 250px;
}

#novoscontatos input{
    display: block;
    width: 90%;
    margin: 10px 5%;
}

button{
    background-color: green;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
    border: none;
    font-size: 10px;
}

button:hover{
    transition: 1s;
    background-image: linear-gradient(rgb(0, 128, 0), rgb(0, 68, 0));
    font-size: 12px;
    box-shadow: 0px 5px 5px gray;
}

.fundo{
    width: 300px;
    height: 400px;
    margin-top: 10%;
    border-radius: 3px;
    top: 0;
    left: 37.5%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0 auto;
}

.displayL,
.displayR{
    transition: 2s;
    opacity: 1;
}

.displayR{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0));
}
.displayL{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0));
}

